@mixin Euclid-semibold {
    font-family: Euclid-semibold;
}

@mixin Euclid-reguler {
    font-family: Euclid-reguler;
}

@mixin Euclid-medium {
    font-family: Euclid-medium;
}

@mixin GCarturmDemo-Medium {
    font-family: GCarturmDemo-Medium;
}

@mixin GCarturmDemo-Regular {
    font-family: GCarturmDemo-Regular;
}

@mixin GCarturmDemo-SemiBold {
    font-family: GCarturmDemo-SemiBold;
}