@use '../../../scss/main.scss' as *;
@use '../../../scss/theme/theme.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.aboutSeaGlobal-section {
    padding: 80px 0;

    .container-xl {
        .section-grid {
            display: grid;
            grid-template-columns: 1fr 635px;
            gap: 60px;
            align-items: center;

            .img-items {
                img {
                    max-width: 100%;
                }
            }

            .text-items {
                h2 {
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 105%;
                    margin: 0 0 8px;
                    @include GCarturmDemo-SemiBold;
                    background: linear-gradient(93deg, #252525 0%, #4e4e4e 24.34%, #4e4e4e 52.49%, #4e4e4e 71.46%, #252525 99.25%);
                    -webkit-text-fill-color: #0000;
                    background-clip: text;
                    -webkit-background-clip: text;

                    span {
                        background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
                        -webkit-text-fill-color: #0000;
                        -webkit-background-clip: text;
                        background-clip: text;
                    }
                }

                @media (max-width:576px) {
                    h2 {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }

                p {
                    color: #747474;
                    margin: 0 0 20px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 105%;
                    @include Euclid-reguler;
                }
            }
        }

        @media (max-width:1024px) {
            .section-grid {
                grid-template-columns: 1fr;
            }
        }

     
    }
}