@use '../../../scss/main.scss' as *;
@use '../../../scss/theme/theme.scss' as *;
@use '../../../scss/typography/typography.scss' as *;


.whyTradeForex-section {
    background-color: #141414;
    padding: 110px 0 78px;
    position: relative;

    .container3 {
        .content-grid {
            grid-template-columns: 466px 1fr;
            align-items: center;
            gap: 30px;
            display: grid;
            position: relative;

            .text-content {
                h1 {
                    background: linear-gradient(93deg, #fff 0%, #f1f1f1 24.34%, #ddd 52.49%, #f1f1f1 71.46%, #fff 99.25%);
                    margin: 0 0 20px;
                    font-size: 48px;
                    line-height: 105%;
                    font-weight: 600;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: #0000;
                    @include GCarturmDemo-SemiBold;

                    span {
                        background: var(--Primary, linear-gradient(90deg, #e8bc33 10%, #b07a09 100%));
                        -webkit-text-fill-color: #0000;
                        -webkit-background-clip: text;
                        background-clip: text;
                    }

                }

                @media (max-width:576px) {
                    h1 {
                        margin: 0 0 10px;
                        font-size: 30px;
                        line-height: 40px;
                    }
                }

                p {
                    color: #828282;
                    max-width: 466px;
                    @include Euclid-reguler;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 105%;
                }

                @media (max-width:576px) {
                    p {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }

            .box-content {
                .box-container {
                    background: linear-gradient(#ffffff1a 0%, #fff0 100%);
                    border-radius: 24px 24px 0 0;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 0;
                    padding: 8px 17px 27px;

                    .box {
                        border-right: 1px solid #747474;
                        position: relative;

                        .box-text {
                            padding: 22px 16px 16px;

                            img {
                                max-width: 100%;

                            }

                            h3 {
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 105%;
                                margin: 14px 0;
                                color: #fff;
                                @include Euclid-medium;

                            }

                            p {
                                color: #747474;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 105%;
                                @include Euclid-reguler;
                            }


                        }

                        .box-line {
                            background-color: #747474;
                            width: calc(100% - 32px);
                            height: 1px;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%);
                        }

                        @media (max-width:576px) {
                            .box-text {

                                padding: 24px 0;
                            }

                            .box-line {
                                display: none;
                            }
                        }
                    }


                    @media (max-width:576px) {
                        .box {
                            border-right: none;
                            border-bottom: 1px solid #747474;
                        }
                    }

                    .box:nth-child(3),
                    .box:nth-child(6) {
                        border-right: 0;
                    }
                }

                @media (max-width:576px) {
                    .box-container {
                        grid-template-columns: 1fr;
                        gap: 0;
                        padding: 16px;
                    }
                }
            }
        }

        @media (max-width:1024px) {
            .content-grid {
                grid-template-columns: 1fr;
                gap: 40px;
            }

        }
    }
}

.whyTradeForex-section::before {
    content: "";
    filter: blur(250px);
    background: #d9d9d9;
    border-radius: 352px;
    width: 158px;
    height: 252px;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width:576px) {
    .whyTradeForex-section {
        padding: 60px 0;
    }
}