@use '../../../scss/main.scss' as *;
@use '../../../scss/theme/theme.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.whyseaglobal-section {
    padding: 100px 0 0;
    background-color: #141414;

    .container-xl {
        .grid {
            display: grid;
            grid-template-columns: 496px 1fr;
            // align-items: flex-end;
            gap: 38px;

            .seaglobalImg-align {
                height: 100%;
                max-width: 386px;
                width: 100%;
                display: flex;
                align-items: end;

                .imgAlignment {
                    position: relative;

                    .imgGrid {
                        .widthBox {
                            // max-width: 386px;
                            width: 386px;

                            .main-Box {
                                align-items: end;
                                height: 100%;
                                display: flex;
                                position: relative;

                                .seaGlobalImg {
                                    display: flex;
                                    align-items: flex-end;
                                    height: 100%;

                                    img {
                                        display: block;
                                    }
                                }
                            }

                            .coinImg {
                                justify-content: center;
                                width: 247px;
                                display: flex;
                                position: absolute;
                                top: -67%;
                                left: 54%;
                                transform: translate(-50%);

                                img {
                                    width: 100%;
                                    animation: upDown 4s ease-in-out infinite;
                                }
                            }

                            @media (max-width:1024px) {
                                .coinImg {
                                    z-index: 99;
                                }
                            }
                        }
                    }
                }
            }

            .grid-items {

                h2 {
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 105%;
                    margin: 0 0 32px;
                    background-clip: text;
                    -webkit-text-fill-color: #0000;
                    background: linear-gradient(93deg, #fff 0%, #f1f1f1 24.34%, #ddd 52.49%, #f1f1f1 71.46%, #fff 99.25%);
                    -webkit-background-clip: text;
                    @include GCarturmDemo-SemiBold;

                    span {
                        background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
                        -webkit-text-fill-color: #0000;
                        -webkit-background-clip: text;
                        background-clip: text;
                    }
                }

                @media (max-width:576px) {
                    h2 {
                        font-size: 30px;
                        text-align: center;
                    }
                }

                .mini-cards-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 24px;
                    padding: 0 0 100px;

                    .mini-card {
                        background: linear-gradient(#ffffff1a 0%, #fff0 100%);
                        border-radius: 24px;
                        padding: 34px 24px 24px;
                        transition: transform .3s, box-shadow .3s;
                        position: relative;

                        h3 {
                            color: #f5f5f5;
                            margin: 0 0 12px;
                            @include GCarturmDemo-Regular;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 105%;
                        }

                        p {
                            color: #747474;
                            @include Euclid-reguler;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 105%;
                        }
                    }

                    .mini-card:hover::before {
                        background: linear-gradient(320deg, #ffffffb3 0%, #0000 100%);
                    }

                    .mini-card::before {
                        content: "";
                        -webkit-mask-composite: xor;
                        pointer-events: none;
                        background: linear-gradient(#fff3 0%, #0000 100%);
                        border-radius: 24px;
                        padding: 1px;
                        transition: all .3s ease-in-out;
                        position: absolute;
                        inset: 0;
                        -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
                        -webkit-mask-position: 0 0, 0 0;
                        -webkit-mask-size: auto, auto;
                        -webkit-mask-repeat: repeat, repeat;
                        -webkit-mask-clip: content-box, border-box;
                        -webkit-mask-origin: content-box, border-box;
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        -webkit-mask-source-type: auto, auto;
                        mask-mode: match-source, match-source;
                    }
                }

                @media (max-width:576px) {
                    .mini-cards-grid {
                        grid-template-columns: 1fr;
                        padding: 0 0 220px;
                    }
                }


            }
        }

        @media (max-width:1024px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }

        @media (max-width:576px) {
            .grid {
                gap: 40px;
            }
        }

        @media (max-width:576px) {
            .grid {
                display: flex;
                flex-direction: column-reverse;

            }
        }
    }
}

@media (max-width:576px) {
    .whyseaglobal-section {
        padding: 60px 0;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-19px) translateX(10px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}