@use '../../../scss/main.scss' as *;
@use '../../../scss/theme/theme.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.videoIframe-section {
    background: #f1f1f1;
    padding: 100px 0;

    .container-lg {
        iframe {
            border: none;
            border-end-end-radius: 12px;
            outline: none;
            width: 100%;
            height: 700px;
            display: block;
        }
    }

}