@use '../../../scss/main.scss' as *;
@use '../../../scss/theme/theme.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.ourForexPartners-section {
    background-color: #f1f1f1;
    padding: 100px 0;
    position: relative;

    .leftLayer {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
            height: 100%;
            display: block;
            max-width: 155px;
        }

        @media (max-width:576px) {
            img {
                max-width: 130px;
            }
        }
    }

    .rightlayer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        img {
            height: 100%;
            display: block;
            max-width: 155px;
        }

        @media (max-width:576px) {
            img {
                max-width: 130px;
            }
        }
    }

    @media (max-width:1024px) {

        .leftLayer,
        .rightlayer {
            display: none;
        }
    }

    .container5 {
        .section-title {
            padding: 0 0 32px;
            position: relative;

            h2 {
                background: linear-gradient(93deg, #252525 0%, #4e4e4e 24.34%, #4e4e4e 52.49%, #4e4e4e 71.46%, #252525 99.25%);
                text-align: center;
                font-size: 48px;
                font-weight: 600;
                line-height: 105%;
                @include GCarturmDemo-SemiBold;
                -webkit-text-fill-color: #0000;
                -webkit-background-clip: text;
                background-clip: text;

                span {
                    background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
                    -webkit-text-fill-color: #0000;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }

            @media (max-width:576px) {
                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        .introducingbroker-card {
            background: linear-gradient(#fff 52.4%, #fff0 100%);
            border-radius: 24px;
            position: relative;

            .card-title {
                background: linear-gradient(93deg, #252525 0%, #4e4e4e 24.34%, #4e4e4e 52.49%, #4e4e4e 71.46%, #252525 99.25%);
                border-radius: 24px 24px 0 0;
                padding: 24px;

                h3 {
                    color: #fff;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 105%;
                    @include GCarturmDemo-SemiBold;
                }

                @media (max-width:576px) {
                    h3 {
                        font-size: 18px;
                        line-height: normal;
                    }
                }
            }

            .card-content {
                padding: 40px;

                .card-body {
                    padding: 40px;
                    display: grid;
                    grid-template-columns: 1fr 1px 1fr;
                    gap: 30px;
                    padding: 0 0 40px;

                    .content {
                        p {
                            color: #747474;
                            margin: 0 0 24px;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 105%;
                            @include Euclid-reguler;
                        }

                        ul {
                            margin: 0;
                            padding: 0 0 0 20px;

                            li {
                                color: #747474;
                                padding: 0 0 10px;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 105%;
                                @include Euclid-reguler;

                            }
                        }

                    }

                    .content-divider {
                        height: 100%;
                        width: 100%;
                        background: #828282;
                    }




                    @media (max-width:576px) {
                        .content-divider {
                            height: 1px;
                        }
                    }
                }

                @media (max-width:576px) {
                    .card-body {
                        grid-template-columns: 1fr;
                        gap: 20px;
                    }
                }


                .card-footer {
                    display: flex;
                    margin: 0 auto;
                    justify-content: center;
                    max-width: 410px;
                    position: relative;

                    .cardfooterSVG1 {
                        position: absolute;
                        top: 55%;
                        left: 0;
                        transform: translateY(-50%);

                        img {
                            max-width: 155px;
                        }
                    }

                    .cardfooterSVG2 {
                        position: absolute;
                        top: 55%;
                        right: 0;
                        transform: translateY(-50%);

                        img {
                            max-width: 155px;
                        }
                    }

                    .openACBlackBtn {}
                }
            }

            @media (max-width:576px) {
                .card-content {
                    padding: 16px;
                }
            }

        }

        .introducingbroker-card::before {
            content: "";
            border-radius: 24px;
            border-radius: inherit;
            -webkit-mask-composite: xor;
            pointer-events: none;
            background: linear-gradient(#0003 0%, #fff0 100%);
            padding: 1px;
            transition: all .3s ease-in-out;
            position: absolute;
            inset: 0;
            -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
            -webkit-mask-position: 0 0, 0 0;
            -webkit-mask-size: auto, auto;
            -webkit-mask-repeat: repeat, repeat;
            -webkit-mask-clip: content-box, border-box;
            -webkit-mask-origin: content-box, border-box;
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            -webkit-mask-source-type: auto, auto;
            mask-mode: match-source, match-source;
        }
    }
}

@media (max-width:576px) {
    .ourForexPartners-section {
        padding: 60px 0;
    }
}