* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Euclid-semibold;
  src: url("./font/Euclid\ Circular\ A\ SemiBold.ttf");
}

@font-face {
  font-family: Euclid-reguler;
  src: url("./font/Euclid\ Circular\ A\ Regular.ttf");
}

@font-face {
  font-family: Euclid-medium;
  src: url("./font/Euclid\ Circular\ A\ Medium.ttf");
}

@font-face {
  font-family: GCarturmDemo-Medium;
  src: url("./font/GCarturmDemo-Medium-BF6902ecb472b48.ttf");
}

@font-face {
  font-family: GCarturmDemo-Regular;
  src: url("./font/GCarturmDemo-Regular-BF6902ecb4ad10b.ttf");
}

@font-face {
  font-family: GCarturmDemo-SemiBold;
  src: url("./font/GCarturmDemo-SemiBold-BF6902ecb4c3120.ttf");
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container-One {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.container2 {
  max-width: 1334px;
  margin: 0 auto;
  padding: 0 20px;
}

.container3 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.container4 {
  max-width: 1129px;
  margin: 0 auto;
  padding: 0 20px;
}

.container5 {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

.container6 {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 20px;
}
