@use '../../../scss/main.scss' as *;
@use '../../../scss/theme/theme.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.ourVision-section {
    position: relative;
    padding: 100px 0;
    background: #141414;


    .layer-black {
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -99;
        width: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    .container2 {

        .ourVision-grid {
            display: grid;
            grid-template-columns: 1fr 305px;
            gap: 100px;

            .subgrid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 22px;
                position: relative;

                .subgrid-items {
                    h2 {
                        background: linear-gradient(93deg, #fff 0%, #f1f1f1 24.34%, #ddd 52.49%, #f1f1f1 71.46%, #fff 99.25%);
                        -webkit-text-fill-color: #0000;
                        -webkit-background-clip: text;
                        background-clip: text;
                        font-size: 48px;
                        font-weight: 600;
                        line-height: 105%;
                        margin: 0 0 24px;
                        @include GCarturmDemo-SemiBold;

                        span {
                            background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
                            -webkit-text-fill-color: #0000;
                            -webkit-background-clip: text;
                            background-clip: text;

                        }
                    }

                    @media (max-width:576px) {
                        h2 {
                            margin: 0 0 20px;
                            font-size: 30px;
                            line-height: 40px;
                        }

                    }

                    .box {
                        background: linear-gradient(#ffffff1a 0%, #fff0 100%);
                        border-radius: 24px;
                        padding: 34px 24px 24px;
                        position: relative;

                        p {
                            color: #f5f5f5;
                            @include Euclid-reguler;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 105%;
                        }

                        @media (max-width:576px) {
                            p {
                                font-size: 16px;
                                line-height: 22px;
                            }

                        }
                    }

                    .box::before {
                        content: "";
                        -webkit-mask-composite: xor;
                        pointer-events: none;
                        background: linear-gradient(#fff3 0%, #0000 100%);
                        border-radius: 24px;
                        padding: 1px;
                        transition: all .3s ease-in-out;
                        position: absolute;
                        inset: 0;
                        -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
                        -webkit-mask-position: 0 0, 0 0;
                        -webkit-mask-size: auto, auto;
                        -webkit-mask-repeat: repeat, repeat;
                        -webkit-mask-clip: content-box, border-box;
                        -webkit-mask-origin: content-box, border-box;
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        -webkit-mask-source-type: auto, auto;
                        mask-mode: match-source, match-source;
                    }

                    .box:hover::before {
                        background: linear-gradient(320deg, #ffffffb3 0%, #0000 100%);
                    }


                }
            }

            @media (max-width:576px) {
                .subgrid {
                    grid-template-columns: 1fr;
                }
            }

            .grid-items {
                img {
                    max-width: 100%;
                }
            }

            @media (max-width:1024px) {
                .grid-items {
                    img {
                        width: 100%;
                    }
                }
            }


        }

        @media (max-width:1024px) {
            .ourVision-grid {
                grid-template-columns: 1fr;
                gap: 60px;
            }
        }
    }
}

@media (max-width:576px) {
    .ourVision-section {
        padding: 60px 0;
    }
}